.header {
  background-color: blueviolet;
  display: flex;
  height: 100px;
  justify-content: space-around;

  &__title {
    font-style: italic;
    color: white;
    font-size: 80px;
  }

  &__button {
    height: 50px;
    width: 100px;
    color: white;
    font-size: 15px;
    font-style: italic;
    background-color: blueviolet;
    border: 1px solid white;
    box-shadow: 0 0 5px 2px white;
    border-radius: 10px;
    align-self: center;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
}